/*All elements in the HTML: have a border-box format, have no padding, and have no margin boxes.*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Sets the background of the body element (the entire HTML document)*/
body {
    background-color: #d9dcd6;
}

/*Defines the size of the padding, font type, and color of the text in the header class as well as the background color*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Element settings for h1 in class header*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/*Element settings for elements within the header class which sets formatting and display settings for the inline list of links*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Element settings that set text settings for the links*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Element settings that set text settings for the paragraphs of content*/
p {
    font-size: 16px;
}

/*Class settings for the background image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Class settings for how boxes should be floated*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*Class settings for the content boxes formatting and display*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Class settings for the benefits sections text formatting and display settings*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Sets formatting for the benefit-lead class*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Sets formatting for the benefit-brand class*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Sets formatting for the benefit-cost class*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Sets formatting for the h3 element in the benefit-lead class*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Sets formatting for the h3 element in the benefit-brand class*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Sets formatting for the h3 element in the benefit-cost class*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Sets formatting for the img element in the benefit-lead class*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Sets formatting for the img element in the benefit-brand class*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Sets formatting for the img element in the benefit-cost class*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Sets formatting for the search-engine-optimization class*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Sets formatting for the online-reputation-management class*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Sets formatting for the social-media-marketing class*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Sets max height for the img element in the search-engine-optimization class*/
.search-engine-optimization img {
    max-height: 200px;
}

/*Sets max height for the img element in the online-reputation-management class*/
.online-reputation-management img {
    max-height: 200px;
}

/*Sets max height for the img element in the social-media-marketing class*/
.social-media-marketing img {
    max-height: 200px;
}

/*Sets formatting for the h2 element in the search-engine-optimization class*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Sets formatting for the h2 element in the online-reputation-management class*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Sets formatting for the h2 element in the social-media-marketing class*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Sets formatting for the footer class*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Sets font size for the h4 element in the footer class*/
.footer h4 {
    font-size: 20px;
}
